{% for message in messages %}
    <div class="alert {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}alert-danger{% else %}alert-success{% endif %} alert-dismissible" role="alert">
        <button class="close" type="button" data-dismiss="alert" aria-label="Close">
            <span class="mdi mdi-close" aria-hidden="true"></span>
        </button>
        <div class="icon">
            <span class="mdi {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}mdi-alert-triangle{% else %}mdi-check{% endif %}"></span>
        </div>
        <div class="message">
            {% if message.extra_tags %}
                <strong>{{ message.extra_tags }}</strong>
            {% endif %}
            {{ message|safe }}
        </div>
    </div>
{% endfor %}
